@page
@model IndexModel
@{
    ViewData["Title"] = "IP Country Lookup";
}

<form method="post">
    <label asp-for="IP.Address" >IP Address: </label>
    <input asp-for="IP.Address" type="text" />
    <input type="submit" value="Submit" />
</form>

@if (Model.IP != null)
{<p>IP is from Country @Model.IP.CountryCode</p>}

<a href='https://db-ip.com'>IP Geolocation by DB-IP</a>